{% load url from future %}
{% load staticfiles %}
{% block content %}

   <!-- External Lib script -->
   <script src="/bdswebui/static/bdswebui/js/external-lib.js" type="text/javascript"></script>
   <script src="/bdswebui/static/bdswebui/js/angular.js" type="text/javascript"></script>

   <!-- BlueData Tooltip messages -->
   <script src="/bdswebui/static/bdswebui/tooltip/message.js" type="text/javascript"></script> 
   <!-- BlueData custom script -->
   <script src="/bdswebui/static/bdswebui/bluedata/js/bluedata.js" type="text/javascript"></script>
   <script src="/bdswebui/static/bdswebui/bluedata/js/bdscharts.js"  type="text/javascript"></script>

{% endblock %}
