{% load url from future %}
{% load staticfiles %}
{% block main %}
   
   <!-- Fevicon icons for desktop and apple touch  -->
   <link rel="apple-touch-icon" href="/bdswebui/static/bdswebui/bluedata/images/apple-touch-icon.png" />
   <link rel="shortcut icon" href="/bdswebui/static/bdswebui/bluedata/images/favicon.ico"/>
   
   <!-- External Lib stylesheets -->
   <link rel="stylesheet" href="/bdswebui/static/bdswebui/css/external-lib.css" />
   
   <!-- BlueData stylesheets -->
   <link rel="stylesheet" href="/bdswebui/static/bdswebui/bluedata/css/bluedata.css" />
   <link rel="stylesheet" href="/bdswebui/static/bdswebui/bluedata/css/bluedata-responsive.css" />
   
{% endblock %}
