<ng-include></ng-include>
<div class="row-fluid" id='dashboardPage_member'>
   <div class="row-fluid">

      <div class="row-fluid">
         <div class="span6 widget-container-span">
            <div class="widget-box transparent">
               <div class="widget-header widget-header-small">
                  <h4 class="lighter"><i class="icon jobstatus-icon"></i> Jobs Status </h4>
               </div>

               <div class="widget-body" style="height:420px;">
                  <div class="widget-main">
                     <div id="id_jobcharts" style="height:400px;"></div> 
                     <div id="barchart_tooltip" style="width:150 px;" class="hidden"></div>
                  </div><!--/widget-main-->
               </div><!--/widget-body-->
            </div><!--/widget-box -->
         </div>

         <div class="span6 widget-container-span">
            <div class="widget-box transparent">
               <div class="widget-header widget-header-small widget-header-flat">
                  <h4 class="lighter">
                     <i class="icon job-icon"></i> Jobs
                  </h4>
               </div>
               <div class="widget-body" style="height:405px;">
                  <div class="widget-main no-padding">
                     <div class="slim-scroll" data-height="400">
                        <table class="table table-bordered table-striped" style="height:40px;" id='job_table'>
                           <thead>
                              <tr>
                                 <th style='display:none;'>
                                    Job UUID
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Job Name
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Job Status
                                 </th>
                              </tr>
                           </thead>

                           <tbody>
                              <tr ng-repeat="row in job_data">
                                 <td style="display:none">{{row.uuid}}</td>
                                 <td>{{ row.job_name }}</td>
                                 <td ng-switch="row.status">
                                    <span ng-switch-when="created" class="center label label-info" style="width:60px">created</span>
                                    <span ng-switch-when="starting" class="center label label-info" style="width:60px">starting</span>
                                    <span ng-switch-when="complete" class="center label label-success" style="width:60px">complete</span>
                                    <span ng-switch-when="running" style="width:60px;" class="center label label-info" data-rel="popover" data-placement="bottom" data-content='Job Duration {{ row.duration }} seconds'>running</span>
                                    <span ng-switch-when="delete_in_progress" class="center label label-success" style="width:60px">deleting</span>
                                    <span ng-switch-default class="center label label-important" style="width:60px">error</span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span6 widget-container-span">
            <div class="widget-box transparent">
               <div class="widget-header widget-header-small widget-header-flat">
                  <h4 class="lighter">
                     <i class="icon cluster-icon"></i> Clusters
                  </h4>
               </div>
               <div class="widget-body" style="height:405px;">
                  <div class="widget-main no-padding">
                     <div class="slim-scroll" data-height="400">
                        <table class="table table-bordered table-striped" id='cluster_table'>
                           <thead>
                              <tr>
                                 <th style='display:none;'>
                                    Cluster UUID
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Cluster Name
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Cluster Status
                                 </th>
                              </tr>
                           </thead>

                           <!--<tbody>-->
                              <!--{% for row in cluster_data %}-->
                              <!--<tr>-->
                                 <!--<td style="display:none">{{ row.uuid }}</td>-->
                                 <!--<td>{{ row.cluster_name }}</td>-->
                                 <!--<td>-->
                                    <!--{% if row.status == 'ready' %}-->
                                    <!--<span class="center label label-success" style="width:60px;">ready</span>-->
                                    <!--{% elif row.status == 'created' %}-->
                                    <!--<span class="center label label-info" style="width:60px;">created</span>-->
                                    <!--{% elif row.status == 'starting' %}-->
                                    <!--<span class="center label label-info" style="width:60px;">starting</span>-->
                                    <!--{% elif row.status == 'updating' %}-->
                                    <!--<span class="center label label-info" style="width:60px;">updating</span>-->
                                    <!--{% elif row.status == 'delete_in_progress' %}-->
                                    <!--<span class="center label label-important" style="width:60px;">deleting</span>-->
                                    <!--{% else %}-->
                                    <!--<span style="width:60px;" class="center label label-important" data-rel="popover" data-placement="left" title="<i class='icon-warning-sign orange'></i> {{ row.status_message }}" data-content='{{ row.error_info }}'>error</span>-->
                                 <!--{% endif %}-->
                                 <!--</td>-->
                              <!--</tr>-->
                              <!--{% endfor %}-->
                           <!--</tbody>-->
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="span6 widget-container-span">
            <div class="widget-box transparent">
               <div class="widget-header widget-header-small widget-header-flat">
                  <h4 class="lighter">
                     <i class="icon dco-icon"></i> Data Connectors
                  </h4>
               </div>
               <div class="widget-body" style="height:350px;">
                  <div class="widget-main no-padding">
                     <div class="slim-scroll" data-height="345">
                        <table class="table table-bordered table-striped" id="dco_table">
                           <thead>
                              <tr>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Name
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Description
                                 </th>
                              </tr>
                           </thead>
                           <!--<tbody>-->
                              <!--{% for dco in data_connectors %}-->
                              <!--<tr>-->
                                 <!--<td>{{ dco.name }}</td>-->
                                 <!--<td>{{ dco.description }}</td>-->
                              <!--</tr>-->
                              <!--{% endfor %}-->
                           <!--</tbody>-->
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div><!--row-fluid-->

      <div class="row-fluid">
         <div class="span6 widget-container-span">
            <div class="widget-box transparent">
               <div class="widget-header widget-header-small widget-header-flat">
                  <h4 class="lighter">
                     <i class="icon vnodes-icon"></i> Virtual Nodes
                  </h4>
               </div>
               <div class="widget-body" style="height:350px;">
                  <div id ="virtnode_spinner" style="position:relative;top:50%;left:50%" class="center"></div>
                  <div class="widget-main no-padding">
                     <div class="slim-scroll" data-height="345">
                        <table  id='virtnode' class="table table-bordered table-striped" style="height:40px;">
                           <thead>
                              <tr>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Node Name
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Public IP
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Hadoop Distribution
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Flavor
                                 </th>
                                 <th>
                                    <i class="icon-caret-right blue"></i>
                                    Status
                                 </th>
                              </tr>
                           </thead>

                           <tbody>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div><!--span6-->
      </div><!--row-fluid-->
   </div><!--row-fluid-->
</div>

